<div class="container-fluid mt-5 mb-5" >
  <div class="titulo m-5 d-flex flex-row justify-content-between">
    <div>
      <h1 #edu id="educacion">Educación</h1>
    </div>
    <!-- Modal boton agregar educacion -->
    <button #edu3 type="button" class="btn text-white d-flex flex-row align-items-end ani" (click)="addEditEducacion(id)"
      *ngIf="loggedIn">
      <i class="fa-solid fa fa-plus m-1"></i>
      <span>Agregar</span>
    </button>
  </div>

  <div class="row d-flex align-items-center justify-content-center m-5 ani" #edu1>
    <div class="col-lg-7 col-md-11 p-2 ani" #edu2>
      <div *ngFor="let estudio of estudios; let i = index"
        [ngStyle]="{'display': selectedItem == estudio.id ? 'contents':'none'}">
        <div>
          <div>
            <span id="puesto">{{estudio.titulo}} </span><span id="subEdu">en {{estudio.nombre}}</span>
          </div>
          <p class="text-start" id="periodo">{{estudio.inicio}}-{{estudio.fin}}</p>
          <div class="container">
            <div class="text-white mt-5">
              <p>{{estudio.descripcion}}</p>
            </div>
            <div class="container  mt-5">
              <img [src]="estudio.logo" alt="logo">
            </div>
          </div>
        </div>
        <div class="container d-flex justify-content-end">
          <!-- Modal boton edicion Educacion -->
          <button type="button" class="btn text-white fa fa-pencil" (click)="addEditEducacion(estudio.id)"
            *ngIf="loggedIn">
          </button>
          <!-- Boton eliminar Educacion -->
          <button type="button" class="btn" (click)="deleteEducacion(estudio.id)" *ngIf="loggedIn">
            <i class="fa-solid fa-trash text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-11 d-flex p-3" id="botones">
      <div *ngFor="let estudio of estudios; let i = index">
        <button class="circulo text-center m-3" autofocus (click)="seleccionado(estudio.id)"
          [ngClass]="{'active': selectedItem == estudio.id}">
          <p class="nombre">{{estudio.nombreCorto}}</p>
        </button>
      </div>
    </div>
  </div>
</div>
<app-edu-add-edit></app-edu-add-edit>
