<div class="container-fluid mt-5 mb-5" >
  <div class="titulo m-5 d-flex flex-row justify-content-between">
    <div>
      <h1 #expe id="experiencia">Experiencia</h1>
    </div>

    <!-- Modal boton agregar experiencia -->
    <button #expe3 type="button" class="btn text-white d-flex flex-row align-items-end ani" (click)="addEditExperiencia(id)"
      *ngIf="loggedIn">
      <i class="fa-solid fa fa-plus m-1"></i>
      <span>Agregar</span>
    </button>
  </div>

  <div class=" row d-flex flex-row align-items-center justify-content-center m-5 ani" #expe1>
    <div class="col-lg-3 col-md-11 d-flex p-3" id="botones">
      <div *ngFor="let expe of experiencias; let i = index">
        <button class="circulo text-center m-3" autofocus (click)="seleccionado(expe.id)"
          [ngClass]="{'active': selectedItem == expe.id}">
          <p class="nombre">{{expe.nombre}}</p>
        </button>
      </div>
    </div>

    <div class="col-lg-7 col-md-11 p-2 ani" #expe2>
      <div *ngFor="let expe of experiencias; let i = index"
        [ngStyle]="{'display': selectedItem == expe.id ? 'contents':'none'}">
        <div>
          <div>
            <span id="puesto">{{expe.puesto}} </span><span id="subEmpresa">en {{expe.nombre}}</span>
          </div>
          <p class="text-start" id="periodo">{{expe.inicio}}-{{expe.fin}}</p>

          <div class="container">
            <div class="text-white mt-5">
              <p>{{expe.descripcion}}</p>
            </div>
            <div class="container  mt-5">
              <img [src]="expe.logo" alt="logo">
            </div>
          </div>


        </div>

        <div class="container d-flex justify-content-end">
          <!-- Modal boton edicion Experiencia -->
          <button type="button" class="btn text-white fa fa-pencil" (click)="addEditExperiencia(expe.id)"
            *ngIf="loggedIn">
          </button>
          <!-- Boton eliminar Experiencia -->
          <button type="button" class="btn" (click)="deleteExperiencia(expe.id)" *ngIf="loggedIn">
            <i class="fa-solid fa-trash text-white"></i>
          </button>
        </div>

      </div>
    </div>
  </div>

  <app-expe-add-edit></app-expe-add-edit>
