@import "@fontsource/fredoka-one";
@import "@fontsource/roboto";

/*Estilo titulo principal y animacion*/
h1 {
  font-family: "Fredoka One", sans-serif;
  font-size: calc(1rem + 3.5vw);
  text-align: start;
  color: #00EBC6;
  -webkit-text-stroke: 1px #ffffff;
  text-transform: uppercase;
  letter-spacing: 15px;
  padding: 1px;
  opacity: 0;
  transition: 2s;
  transform: scale(0)
}

h1.fadeIn {
  opacity: 1;
  transform: scale(1)
}

/*Estilos para efecto FadeIn*/
.ani {
  opacity: 0;
  transition: 1s;
  transform: translateX(-100px);
}

.ani.fadeIn {
 opacity: 1;
 transform: translateX(0);
}

/*Borde blanco inferior titulo*/
.titulo {
  border-bottom: 1px solid #ffffff;
}

/*Estilos Agregar*/
span{
  font-size: calc(.8rem + .6vw);
  color: #ffffff;
}


/*Rectangulos con nombre de empresa*/

.circulo {
  margin: 2%;
  width: 130px;
  background: #474646;
  border: 3px solid #ffffff;
  border-radius: 15px;
  cursor: pointer;
  transition: all ease 0.2s;

}

.circulo:hover {
  background-color: #C91A76;
  transition: all ease 0.2s;
}

.active {
  background-color: #C91A76;
}

#botones {
  flex-direction: column;
}

/*Estilo nombre empresa dentro del circulo*/

.nombre {
  color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-size: calc(0.5rem + 0.8vw);
  padding: 3%;
  margin: 3%;
}

/*Scrollbar*/

.col-lg-3::-webkit-scrollbar {
  width: 2px;
}

.col-lg-3::-webkit-scrollbar-track {
  border-radius: 10px;
}

.col-lg-3::-webkit-scrollbar-thumb {
  background-color: #0ab89e;
  border: 4px solid rgb(10, 10, 10);
  border-radius: 10px;
}

/*Estilo nombre del puesto*/

#puesto {
  font-family: "Fredoka One", sans-serif;
  letter-spacing: 3px;
  background-color: rgb(10, 10, 10);
  text-align: start;
  text-transform: uppercase;
  font-size: calc(0.8rem + 1vw);
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 0;
}

/*Estilo nombre de la empresa detras del puesto*/

#subEmpresa {
  color: #a7055b;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: calc(0.8rem + 1vw);
}

/*Estilo periodo en el puesto*/

#periodo {
  font-size: calc(0.2rem + 1vw);
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

/*Estilo descripcion*/
#descri{
  font-family: "Roboto", sans-serif;

 }

/*Logo empresa*/

img {
  margin: 3%;
  width: 30%;
  border-radius: 5%
}

/*Cambios de estilo segun tamaño de pantalla*/

@media (max-width: 991.98px) {
  #botones {
    flex-direction: row;
  }

  img {
    width: 40%;
  }
}

@media (max-width: 767.98px) {
  h1 {
    letter-spacing: 7px;
  }

  .circulo {
    width: 100px;
  }

  #botones {
    flex-direction: row;
    overflow-x: auto;
  }


}

@media (max-width: 576px) {

  img {
    width: 50%;
  }

}
