<!-- Modal -->
<ng-template #content let-modal>
  <form [formGroup]="formEditProyecto" (ngSubmit)="onSave($event)">
    <!-- Titulo -->
    <div class="modal-header">
      <h5 class="modal-title" id="formEditProyectoModalLabel" *ngIf="!addMode">Editar Proyecto</h5>
      <h5 class="modal-title" id="addEditProyectoModalLabel" *ngIf="addMode">Agregar Proyecto</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <!-- Input Nombre -->
      <div class="mb-3">
        <label for="InputNombreProyecto" class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" id="EditarProyectoNombre"
          placeholder="Ingresar nombre"
          [ngClass]="{'is-invalid': Nombre?.errors  && Nombre?.touched, 'is-valid': !Nombre?.errors  && Nombre?.touched }">
        <div *ngIf="Nombre?.errors && Nombre?.touched">
          <p *ngIf="Nombre?.hasError('required')" class="text-danger">
            Ingresar nombre
          </p>
        </div>
      </div>
      <!-- Input Imagen -->
      <div class="mb-3">
        <label for="InputImangenProyecto" class="form-label">Imagen</label>
        <input *ngIf="addMode" type="file" class="form-control" accept=".jpg , .jpeg , .jfif , .pjpeg , .pjp,.png,.svg"
          formControlName="imagen" id="EditarProyectoImagen" placeholder="Ingresar imagen"
          [ngClass]="{'is-invalid': Imagen?.errors && Imagen?.touched, 'is-valid': !Imagen?.errors  && Imagen?.touched }">
        <input *ngIf="!addMode" type="text" class="form-control" formControlName="imagen" id="EditarProyectoImagen"
          placeholder="Ingresar imagen"
          [ngClass]="{'is-invalid': Imagen?.errors && Imagen?.touched, 'is-valid': !Imagen?.errors  && Imagen?.touched }">
        <div *ngIf="Imagen?.errors  && Imagen?.touched">
          <p *ngIf="Imagen?.hasError('required')" class="text-danger">
            La imagen es requerida.
          </p>
        </div>
        <br />
        <!-- Input Descripcion -->
        <div class="mb-3">
          <label for="InputTipo" class="form-label">Descripción</label>
          <textarea class="form-control" formControlName="descripcion" id="EditProyectoDescripcion"
            placeholder="Ingresar descripción"
            [ngClass]="{'is-invalid': Descripcion?.errors  && Descripcion?.touched, 'is-valid': !Descripcion?.errors  && Descripcion?.touched }"></textarea>
          <div *ngIf="Descripcion?.errors && Descripcion?.touched">
            <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
              La descripción es requerida.
            </p>
          </div>
        </div>
         <!-- Input Link -->
      <div class="mb-3">
        <label for="InputLinkProyecto" class="form-label">Link</label>
        <input type="text" class="form-control" formControlName="link" id="EditarProyectoLink"
          placeholder="Ingresar Link"
          [ngClass]="{'is-invalid': Link?.errors  && Link?.touched, 'is-valid': !Link?.errors  && Link?.touched }">
        <div *ngIf="Link?.errors && Link?.touched">
          <p *ngIf="Link?.hasError('required')" class="text-danger">
            Ingresar link
          </p>
        </div>
      </div>
       <!-- Input Anio -->
       <div class="mb-3">
        <label for="InputAnio" class="form-label">Anio</label>
        <input type="number" class="form-control" formControlName="anio" id="EditarAnio"
          placeholder="Ingresar año"
          [ngClass]="{'is-invalid': Anio?.errors && Anio?.touched, 'is-valid': !Anio?.errors  && Anio?.touched }">
        <div *ngIf="Anio?.errors  && Anio?.touched">
          <p *ngIf="Anio?.hasError('required')" class="text-danger">
            El año es requerido.
          </p>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <!-- Boton Agregar/Guardar -->
        <button type="submit" class="btn" data-bs-dismiss="modal" *ngIf="!addMode">Guardar</button>
        <button type="submit" class="btn" data-bs-dismiss="modal" *ngIf="addMode">Agregar</button>
      </div>
    </div>
  </form>

</ng-template>
