<!-- Modal -->
<ng-template #content let-modal>
  <form [formGroup]="formEditSoft" (ngSubmit)="onSave($event)">

          <div class="modal-header">
            <h5 class="modal-title" id="editSkillSoftModalLabel" *ngIf="!addMode">Editar SKill</h5>
            <h5 class="modal-title" id="addSkillSoftModalLabel" *ngIf="addMode">Agregar SKill</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">

            <div class="mb-3">
              <label for="InputNombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" id="EditarSoftNombre" placeholder="Ingresar nombre"
              [ngClass]="{'is-invalid': Nombre?.errors  && Nombre?.touched, 'is-valid': !Nombre?.errors  && Nombre?.touched }">
              <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                  Ingresar nombre
                </p>
               </div>
            </div>

            <div class="mb-3">
              <label for="InputImangenSkill" class="form-label">Imagen</label>
              <input *ngIf="addMode" type="file" class="form-control" accept=".jpg , .jpeg , .jfif , .pjpeg , .pjp,.png,.svg" formControlName="imagen"  id="EditarSoftImagen" placeholder="Ingresar imagen"
              [ngClass]="{'is-invalid': Imagen?.errors && Imagen?.touched, 'is-valid': !Imagen?.errors  && Imagen?.touched }">
              <input *ngIf="!addMode" type="text" class="form-control"  formControlName="imagen"  id="EditarSoftImagen" placeholder="Ingresar imagen"
              [ngClass]="{'is-invalid': Imagen?.errors && Imagen?.touched, 'is-valid': !Imagen?.errors  && Imagen?.touched }">
              <div *ngIf="Imagen?.errors  && Imagen?.touched">
                <p *ngIf="Imagen?.hasError('required')" class="text-danger">
                  La imagen es requerida.
                </p>
              </div>
                <br/>

                <div class="mb-3">
                  <label for="InputTipo" class="form-label">Descripcion</label>
                  <textarea class="form-control" id="edittext" formControlName="descripcion" id="EditSoftDescripcion" placeholder="Ingresar descripcion"
                [ngClass]="{'is-invalid': Descripcion?.errors  && Descripcion?.touched, 'is-valid': !Descripcion?.errors  && Descripcion?.touched }"></textarea>
                  <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                    <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                      Ingresar descripcion
                    </p>
                   </div>
                </div>
            </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" *ngIf="!addMode">Guardar</button>
            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" *ngIf="addMode">Agregar</button>
       </div>

      </div>


      </form>

    </ng-template>

