<div class="container-fluid mb-5 flex-column">
  <!-- Nombre del propietario del portfolio -->
  <div class="container text-white">
    <h1 class="titulo">Hola! Soy <b id="titulo">{{persona.nombre}}</b></h1>
  </div>
  <!--Imagen del propietario del portfolio -->
  <div class="container mt-5 mb-5">
    <div class="container d-flex justify-content-center align-items-center">
      <img class="yoimg" [src]="persona.imagen" alt="yo">
    </div>
  </div>
  <!--Descripcion del propietario del portfolio -->
  <div class="container d-flex align-items-center flex-column mt-5">
    <div class="container text-left" id="descrip">
      <p class="parrafo"> {{persona.descripcion}}
      </p>
    </div>
    <div class="container d-flex justify-content-end">
      <!-- Boton modal edicion -->
      <i class="fa-solid fa-pencil m-2"></i>
      <!--Boton eliminar -->
      <i class="fa-solid fa-trash m-2"></i>
    </div>
  </div>
</div>
