/*Estilos generales*/
.container-fluid {
  margin-top: 100px;
}

/*Estilo titulo principal y animacion*/
h1 {
  font-family: "Fredoka One", sans-serif;
  font-size: calc(1rem + 3.5vw);
  text-align: start;
  color: #00EBC6;
  -webkit-text-stroke: 1px #ffffff;
  text-transform: uppercase;
  letter-spacing: 15px;
  padding: 1px;
  transition: 2s;
  transform: scale(0)
}

h1.fadeIn {
  transform: scale(1)
}


/*Estilos para efecto FadeIn*/
.ani {
  opacity: 0;
  transition: 2s;
  transform: translateX(-100px);
}

.ani.fadeIn {
  opacity: 1;
  transform: translateX(-0px);
}

/*Borde blanco inferior titulo*/
.titulo {
  border-bottom: 1px solid #ffffff;
}

/*Estilos descripcion*/
#descrip {
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

/*Estilos hobbies*/
#listHobby {
  list-style: none;
  float: left;
}

#icons {
  width: 80px;
  height: 80px;
  border: 2px solid #ffffff;
  border-radius: 10%;
  background-color: #C91A76;
}

#hobbyNombre {
  font-size: 12px;
}

#addBtn {
  font-size: 18px;
}

/*Estilos card*/

#carta{
  display: flex;
  flex-direction: row;
}

.card-column {
  width: 50%;
  float: left;
  padding: 4%;
}

.card {
  max-width: 280px;
  min-width: 250px;
  position: relative;
  color: #fff;
  background-color: #00EBC6;
}

.border {
  max-width: 280px;
  min-width: 270px;
  padding: 6px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.card h5 {
  position: relative;
  font-size: 22px;
  width: 70%;
  padding: 295px 0px 5px 5px;
  color: #ffffff;
}

/* Estilos imagen*/
.card>img {
  width: 90%;
  position: absolute;
  top: -6%;
  left: -6%;
  border-radius: 10px;
}

/* Media Queries*/
@media screen and (max-width: 767.98px) {
  .card-column {
    width: 90%;
  }

  #carta{
    flex-direction: column;
  }

  .border{
    margin-left: 15%;
    margin-right: 10%;
  }
}

