@import "@fontsource/fredoka-one";
@import "@fontsource/roboto";


/*Estilos generales*/
.container-fluid {
  margin-top: 100px;
}

.col {
  margin: 2%;
}

/*Estilo titulo principal y animacion*/
h1 {
  font-family: "Fredoka One", sans-serif;
  font-size: calc(1rem + 3.5vw);
  text-align: start;
  color: #00EBC6;
  -webkit-text-stroke: 1px #ffffff;
  text-transform: uppercase;
  letter-spacing: 15px;
  padding: 1px;
  transition: 2s;
  transform: scale(0)
}

h1.fadeIn {
  transform: scale(1)
}


/*Estilos para efecto FadeIn*/
.ani {
  opacity: 0;
  transition: 2s;
  transform:translateX(-100px);
}

.ani.fadeIn {
 opacity: 1;
 transform:translateX(-0px);
}


/*Estilo imgen*/
.yoimg {
  padding: 0.6%;
  border-radius: 50%;
  border: 10px double #ffffff;
  min-width: 100px;
  width: 15%;
  height: auto;
}

/*Estilos descripcion*/
#descrip {
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

/*Estilos hobbies*/
#listHobby{
  list-style: none;
  float: left;
}

#icons{
  width: 80px;
  height: 80px;
  border: 2px solid #ffffff;
  border-radius: 10%;
  background-color: #C91A76;
}
#hobbyNombre{
  font-size: 12px;
}

#addBtn{
  font-size: 18px;
}


/* Cards */
.card-column {
  width: 50%;
  float: left;
  padding: 4%;
  box-sizing: border-box;
}

.card {
  width: 90%;
  max-width:280px;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #00EBC6;
  color: #fff;
  margin-bottom: 10px;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  left: -6px;
  top: -6px;
}

.card h5 {
  position: relative;
  font-size: 18px;
  width: 70%;
  padding: 320px 0px 10px 10px;
  color: #ffffff;
}

.card > img {
  width: 90%;
  position: absolute;
  top: -3%;
  left: -3%;
  border-radius: 10px;
}


/*
** Media Queries
*/

@media screen and (max-width: 600px) {
  .card-column {
    width: 90%;
  }


}
