<!-- Modal -->
<ng-template #content let-modal>
  <form [formGroup]="formAddEditEdu" (ngSubmit)="onSave($event)">

          <div class="modal-header">
            <h5 class="modal-title" id="EditEduModalLabel" *ngIf="!addMode">Editar educacion</h5>
            <h5 class="modal-title" id="addEduModalLabel" *ngIf="addMode">Agregar educacion</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">

            <div class="mb-3">
              <label for="InputNombreEdu" class="form-label">Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" id="EditNombreEdu"
                placeholder="Ingresar nombre"
                [ngClass]="{'is-invalid': Nombre?.errors  && Nombre?.touched, 'is-valid': !Nombre?.errors  && Nombre?.touched }">
              <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                  Ingresar nombre
                </p>
              </div>
            </div>

            <div class="mb-3">
              <label for="InputLogoEdu" class="form-label">Logo</label>
              <input type="file" accept=".jpg,.jpeg,.png" class="custom-file-input form-control" formControlName="logo"
                id="EditLogoEdu" placeholder="Seleccionar imagen logo"
                [ngClass]="{'is-invalid': Logo?.errors  && Logo?.touched, 'is-valid': !Logo?.errors  && Logo?.touched }">
              <div *ngIf="Logo?.errors && Logo?.touched">
                <p *ngIf="Logo?.hasError('required')" class="text-danger">
                  Seleccionar Archivo
                </p>
              </div>
            </div>

            <div class="mb-3">
              <label for="InpuInicioEdu" class="form-label">Inicio</label>
              <input type="number" class="form-control" formControlName="inicio" id="EditInicioEdu"
                placeholder="Ingresar año de inicio"
                [ngClass]="{'is-invalid': Inicio?.errors && Inicio?.touched, 'is-valid': !Inicio?.errors  && Inicio?.touched }">
              <div *ngIf="Inicio?.errors  && Inicio?.touched">
                <p *ngIf="Inicio?.hasError('required')" class="text-danger">
                  El año de inicio es requerido.
                </p>
              </div>
            </div>
              <br />

              <div class="mb-3">
                <label for="InputFinEdu" class="form-label">Fin</label>
                <input type="number" class="form-control" formControlName="fin" id="EditFinEdu"
                  placeholder="Ingresar año de finalizacion"
                  [ngClass]="{'is-invalid': Fin?.errors && Fin?.touched, 'is-valid': !Fin?.errors  && Fin?.touched }">
                <div *ngIf="Fin?.errors  && Fin?.touched">
                  <p *ngIf="Fin?.hasError('required')" class="text-danger">
                    El año de finalizacion es requerido.
                  </p>

                </div>
              </div>
                <br />

                <div class="mb-3">
                  <label for="InputDescripcionEdu" class="form-label">Descripcion</label>
                  <textarea class="form-control" id="message-text" formControlName="descripcion"
                    id="EditDescripcionEdu" placeholder="Ingresar descripcion"
                    [ngClass]="{'is-invalid': Descripcion?.errors  && Descripcion?.touched, 'is-valid': !Descripcion?.errors  && Descripcion?.touched }"></textarea>
                  <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                    <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                      Ingresar descripcion
                    </p>
                  </div>
                </div>


                <div class="modal-footer">
                  <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" *ngIf="!addMode">Guardar</button>
                  <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" *ngIf="addMode">Agregar</button>
                </div>

              </div>

  </form>
  </ng-template>

