<div class="contenido">
<app-navigation></app-navigation>

<app-aboutme></app-aboutme>

<app-skills-hard></app-skills-hard>

<app-skills-soft></app-skills-soft>

<app-educacion></app-educacion>

<app-experiencia></app-experiencia>

<app-proyectos></app-proyectos>

<app-contacto></app-contacto>

<div class="scrollToTop" [ngClass]="{'showScrollToTop': windowScrolled}">
    <button type="button" class="btn" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up text-white" ></i>
    </button>
  </div>

</div>

<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

