.navbar {
  margin-bottom: 10px;
}

/*Estilo logo ArgProg*/
#argprog {
  height: 70px;
  width: auto;
}

/*Estilo nombre de secciones*/
.nav-link:focus,
.nav-link:hover {
  text-decoration: underline;
  transform: scale(103%);
}


/*Estilo boton*/
.btn-light{
  background-color: #C91A76;

}


.dropdown-item:active{

background-color: #C91A76;
}

.nav-pills .open .dropdown-toggle, .nav > .open.active > a:focus {
  background-color:#222;
  border-color: #333;
  }

/*Estilo botones redes*/
.btn:hover {
  transform: scale(120%);
}


/* Media Queries*/
@media screen and (max-width: 767.98px) {
  .redes{
    display: none;
  }
}
