<div class="container-fluid ">
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark ">



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navibot"
      aria-controls="navibot" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div>
      <img src="assets\img\APLogo-20-20.png" alt="argprog" id="argprog">
    </div>

    <div class="collapse navbar-collapse" id="navibot">

        <div class="container d-flex justify-content-around">
          <div>
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Skills
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="">Hard</a>
                <a class="dropdown-item" href="">Soft</a>

              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Carrera</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Experiencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Contacto</a>
            </li>
          </ul>
        </div>

        </div>
        <div class="d-inline-flex">
          <a class="btn" href="#!" role="button">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>

          <a class="btn" href="#!" role="button">
            <i class="fa fa-instagram fa-2x"></i>
          </a>

          <a class="btn" href="#!" role="button">
            <i class="fa fa-github fa-2x"></i>
          </a>

           <!-- Button trigger modal -->

        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal" *ngIf="!loggedIn" >Login </button>
        <button type="button" class="btn btn btn-light" (click)="onLogout()"  *ngIf="loggedIn" >Logout </button>
        </div>

      </div>



  </nav>
</div>
<app-login></app-login>
