.navbar {
  margin-bottom: 10px;
}

#logo{
  margin-right: 10px;
}

#argprog {
  height: 70px;
  width: auto;
}

.navbar-nav.nav-item {
  user-select: none;
  font-size: medium;
  font-weight: 400;
}

.nav-link:focus,
.nav-link:hover {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
  transform: scale(103%);
}



.btn-light{
  background-color: #C91A76;
  color: #fff;
}

.btn:hover {
  transform: scale(120%);
}

.navbar-expand-md .navbar-nav {
  flex-wrap: wrap;
}

.dropdown.open.active
{
  color: #fff;
  background-color: #b91773;
  border-color: #fff;
}
